* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-size: 70px;
  border: 2px solid;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 465px;
}

.sketchContainer {
  border: 2px solid black;
   width: 416px;
  height: 416px; 
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.row {
  display: flex;
  flex: 1;
}

.box {
  /* height: 24px;
  width: 24px; */
  /* border: 1px solid black; */
  flex: 1;
}

.btnCont {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 50px;
  width: 130px;
  border-radius: 8px;
  background-color: rgb(69, 243, 243);
  border: none;
}

.btn:hover {
  background-color: rgb(158, 243, 243);
}

.btn:active {
  background-color: gray;
}

footer {
  text-align: center;
  font-size: 70px;
  border: 2px solid;
}
